*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}

@media (min-width:1000px) {
    body {
        background-color: black;
        width: 100%;
        height: 2000px;
    }

    /* ma navbar */
    .nvbar {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        height: 100px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 100px;
        width: 700px;
        background-color: black;
        display: flex;
    }
    .lila {
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    /* ma navbar */

    /* ma photo */

    header {
        height: 700px;
        width: 100%;
        background: url(../Image/affaires.jpg) 50% no-repeat ;
        background-size: cover;
        
    
    }
    .stat1 {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stata {
        height: 70%;
        width: 80%;
    }
    .stata h1{
        font-size: 3.5rem;
        font-weight: bold;
    }
    .stat {
        height: 800px;
        width: 90%;
        background-color: black;
        margin: 0 auto;
    }
    .statte {
        height: 70px;
        width: 100%;
        background-color: black;
    }
    .statte1 {
        height: 200px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sta1 {
        height: 150px;
        width: 30%;
        background-color: black;
        margin-left: 5px;
    }
    .statte22 {
        height: 200px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .statte23 {
        height: 300px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .retse {
        height: 800px;
        width: 90%;
        background-color: rgba(53, 53, 53, 0.171);
        margin-top: 700px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 50px;
        
    }
    .qjsc {
        height: 150px;
        width: 100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .mlez {
        height: 80%;
        width: 70%;
      
        text-align: center;
    }
    .creae {
        width: 100%;
        height: 200px;
        display: flex;
        
    }
    .los1 {
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        margin-top: 20px;
    }
    .los2 {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        width: 50%;
        height: 100%;
        margin-top: 20px;
        border-left: 2px solid white;
    }
    .los11 {
        height: 150px;
        width: 150px;
        background: url(../Image/affaires.jpg) 50% no-repeat ;
        background-size: cover;
        margin-right: 20px;
        border-radius: 10px;
    }
    .cae {
        height: 20px;
        width: 20px;
        
    }
    .los12 {
        height: 150px;
        width: 250px;
       
        
    }
    .liodgz {
        height: 400px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .hzd {
        margin-top: 50px;
        height: 100%;
        width: 90%;
        background-color: black;
        border-top: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info1 {
        margin-top: 40px;
        height: 300px;
        width: 300px;
        background-color: rgba(32, 32, 32, 0.219);
        text-align: center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .info2 {
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(32, 32, 32, 0.219);
        border-radius: 20px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 300px;
        width: 300px;
       
    }
    .info3 {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 300px;
        width: 300px;
        background-color: rgba(32, 32, 32, 0.219);
        border-radius: 20px;
    }

    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        padding-top: 100px;
    }
    .forett {
        height: 200px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        border-bottom: 2px solid white;
    }
    .forett1 {
        height: 100px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        
    }
    .forett3 {
        background: url(./Image/map.jpg) 50% no-repeat;
        background-size: cover;
        height: 300px;
        width: 70%;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    .for1 {
        height: 150px;
        width: 25%;
        background-color: black;
        color: white;
        
    }
    .for1 h1{
        
        color: white;
        
    }
    .for2 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for3 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for4 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    
}











@media (max-width:1000px) {
    body {
        background-color: black;
        width: 100%;
        height: 2000px;
    }

    /* ma navbar */
    .nvbar {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        display: none;
    }
    .logo {
        height: 100px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .logo1 {
        height: 100px;
        width: 700px;
        background-color: black;
        display: flex;
        display: none;
    }
    .lila {
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
        display: none;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        display: none;
    }

    /* ma navbar */

    /* ma photo */

    header {
        height: 700px;
        width: 100%;
        background: url(./Image/affaires.jpg) 50% no-repeat ;
        background-size: cover;
        display: none;
    
    }
    .stat1 {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .stata {
        height: 70%;
        width: 80%;
        display: none;
    }
    .stata h1{
        font-size: 3.5rem;
        font-weight: bold;
        display: none;
    }
    .stat {
        height: 800px;
        width: 90%;
        background-color: black;
        margin: 0 auto;
    }
    .statte {
        height: 70px;
        width: 100%;
        background-color: black;
    }
    .statte1 {
        height: 200px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sta1 {
        height: 150px;
        width: 30%;
        background-color: black;
        margin-left: 5px;
    }
    .statte22 {
        height: 200px;
        width: 100%;
        background-color: rgb(184, 23, 23);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .statte23 {
        height: 300px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }
    .retse {
        height: 800px;
        width: 90%;
        background-color: rgba(53, 53, 53, 0.171);
        margin-top: 700px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 50px;
        display: none;
        
    }
    .qjsc {
        height: 150px;
        width: 100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .mlez {
        height: 80%;
        width: 70%;
        display: none;
        text-align: center;
    }
    .creae {
        width: 100%;
        height: 200px;
        display: flex;
        
    }
    .los1 {
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        margin-top: 20px;
        display: none;
    }
    .los2 {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        width: 50%;
        height: 100%;
        margin-top: 20px;
        border-left: 2px solid white;
        display: none;
    }
    .los11 {
        height: 150px;
        width: 150px;
        background: url(./Image/affaires.jpg) 50% no-repeat ;
        background-size: cover;
        margin-right: 20px;
        border-radius: 10px;
    }
    .cae {
        height: 20px;
        width: 20px;
        
    }
    .los12 {
        height: 150px;
        width: 250px;
       
        
    }
    .liodgz {
        height: 400px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .hzd {
        margin-top: 50px;
        height: 100%;
        width: 90%;
        background-color: black;
        border-top: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info1 {
        margin-top: 40px;
        height: 300px;
        width: 300px;
        background-color: rgba(32, 32, 32, 0.219);
        text-align: center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .info2 {
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(32, 32, 32, 0.219);
        border-radius: 20px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 300px;
        width: 300px;
       
    }
    .info3 {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 300px;
        width: 300px;
        background-color: rgba(32, 32, 32, 0.219);
        border-radius: 20px;
        display: none;
    }
    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        padding-top: 100px;
        display: none;
    }
    .forett {
        height: 200px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        border-bottom: 2px solid white;
    }
    .forett1 {
        height: 100px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        
    }
    .forett3 {
        background: url(./Image/map.jpg) 50% no-repeat;
        background-size: cover;
        height: 300px;
        width: 70%;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    .for1 {
        height: 150px;
        width: 25%;
        background-color: black;
        color: white;
        
    }
    .for1 h1{
        
        color: white;
        
    }
    .for2 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for3 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for4 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    



    body {
        background-color: black;
        width: 100%;
        /* height: 2000px; */
    }
    .nvbar {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        display: none;
    }
    .logo {
        height: 100px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 100px;
        width: 700px;
        background-color: black;
        display: flex;
    }
    .lila {
        
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: #000000;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    header {
        padding-top: 100px;
        height: 800px;
        width: 100%;
        background-color: rgb(94, 27, 27);
        display: none;
    }
    .traif {
        height: 500px;
        width: 50%;
        display: none;
        align-items: start;
        justify-content: end;
        
    }
    .traif1 {
        color: white;
        height: 600px;
        width: 50%;
        /* background-color: black; */
        padding: 20px;
        padding-top: 100px;
        display: none;
    }
    .traif1 h1{
        color: white;
    }
    .jahda {
        display: none;
        height: 470px;
        width: 500px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: url(/Image/istockphoto-91107037-612x612.jpg);
        transform: rotate(45deg);
        background-size: 800px;
        background-position: -140px 10px;
    }
    .cfgd {
        height: 60px;
        width: 90%;
        background-color: black;
        display: flex;
        margin-top: 20px;
    }
    .plsd1 {
        height: 50px;
        width: 50px;
        background-color: green;
        border-radius: 0% 100% 100% 100%;
        margin-top: 150px;
        
        
    }
    .cfgd1 {
        height: 200px;
        width: 100%;
        /* background-color: black; */
        display: flex;
        
        align-items: center;
        justify-content: end;
    }
    .plsd {
        padding-right: 10px;
        padding-top: 150px;
    }
    
    .zeaee {
        height: 50px;
        width: 140px;
        background-color: rgb(13, 184, 13);
        margin-right: 10px;
        border-radius: 15px;
    }
    .zeaee1 {
        height: 50px;
        width: 140px;
        border-radius: 15px;
        border: 1px solid rgb(13, 184, 13);
    }

    #service {
        height: 1200px;
        padding-top: 100px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: none;
        
    }
    .titreService h1{
        color: black;
        height: 70px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: end;
        justify-content: center;
        font-size: 2rem;
        color: black;

        
        
    }
    #service h1{
        color: black;
        
    }
    .notreService1 {
        height: 300px;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .notreService1-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService2-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService3-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/trab.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService1-2 {
        height: 250px;
        width: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;
    }
    .notreService1-2 p,h1{
        color: black;
    }
    .notreServiceBou {
        height: 50px;
        width: 120px;
        background-color: green;
        border-radius: 10px;
    }
    #autre {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .infor2 {
        height: 500px;
        width: 70%;
        background: url(./Image/fina.jpg) 50% no-repeat;
        background-size: cover;
    }
    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        padding-top: 100px;
        display: none;
    }
    .forett {
        height: 200px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        border-bottom: 2px solid white;
    }
    .forett1 {
        height: 100px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        
    }
    .forett3 {
        background: url(./Image/map.jpg) 50% no-repeat;
        background-size: cover;
        height: 300px;
        width: 70%;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    .nacv {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: rgb(18, 175, 12);
        color: black;
        z-index: 2;
    }
    
    .nacv1 {
        height: 300px;
        width: 100%;
        background: url(./Image/istockphoto-91107037-612x612-2.jpg) 50% no-repeat;
        background-size: cover;
        color: black;
        padding-top: 50px;
    }
    .hehdz {
        height: 100%;
        width: 100%;
        padding-top: 40px;
        backdrop-filter: blur(50px);
        color: rgb(255, 255, 255);
    }
    .nacv1 h3{
        color: rgb(255, 255, 255);
    }
    .nacv1 p{
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
    }
    .zucze {
        height: 40px;
        width: 100px;
        background-color: green;
        border-radius: 10px;
        margin: 0 auto;
    }
    .nacv2 {
        height: 1300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        background-color: rgb(255, 255, 255);
        
    }

    .qilq {
        height: 200px;
        width: 70%;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .qilq1 {
        height: 170px;
        width: 70%;
        background-color:white;
        margin-bottom: 30px;
    }
    .qilq2 {
        height: 200px;
        width: 70%;
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;

    }
    .errze {
        height: 40px;
        width: 100px;
        background-color: green;
        border-radius: 10px;
        margin-top: 20px;
       
    }
    .qilq22 {
        height: 170px;
        width: 70%;
        background-color: white;
        margin-bottom: 30px;
    }
    .qilq3 {
        height: 200px;
        width: 70%;
        background: url(./Image/trab.jpg) 50% no-repeat;
        background-size: cover;
    }
    .qilq33 {
        height: 170px;
        width: 70%;
        background-color: white;
    }
    .cardc {
        height: 400px;
        width: 70%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        color: black;
        text-align: center;
        margin-bottom: 30px;

    }
    .ljqs {
        height: 40%;
        width: 100%;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .ljqs1 p{
       margin-bottom: 30px;
       color: black;
       padding-left: 20px;
       padding-right: 20px;
       
      
    }
    .ljqs1 a{
       padding: 10px 30px;
       background-color: rgb(73, 175, 5);
       border-radius: 10px;
       
      
    }
    
    .nacv3 {
        height: 300px;
        width: 100%;
        background-color: black;
    }
    .lo {
        height: 100%;
        width: 150px;
        
    }
    .lo1 {
        height: 100%;
        width: 100px;
    }
    .jjuez {
        height: 200px;
        width: 150px;
        background-color: white;
        position: fixed;
        top: 50px;
        
        opacity: 1;
       
        right: 0;
    }
    #navdf:checked ~ .jjuez{
        visibility: visible;
        opacity: 1;

    }






    
    /* #ches {
        display: none;
    }
    #ches:checked ~ .qr {
        visibility: visible;
        opacity: 1;
    }
    .qr {
        height: 200px;
        width: 150px;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        right: 8%;
        top: 70px;
        visibility: hidden;
        opacity: 1;
        padding-top: 10px;
    } */


    .vqsycoca {
        height: 150px;
        width: 100%;
        background-color: black;
        display: flex;
        padding-top: 20px;
    }
    .vqsycoca1 {
        height: 100px;
        width: 80%;
        background-color: black;
        border-top: 2px solid white;
        margin-left: 10%;
    }
}