

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}

#cliquera {
    display: none;
}
#cliquera:checked ~ .sortira {
    visibility: visible;
    opacity: 1;
    z-index: 5;
    position: fixed;
    
}

.sortira {
    height: 500px;
    width: 300px;
    opacity: 1;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:100%;
    right: 0%;
    visibility: hidden;
    padding: 20px;
    /* animation: sorfd 2s ease;
    transform: translateX(0px); */
}

.sortira ul li{
   
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid white;
}












@media (min-width:1000px) {
    .fekx {
        height: 70px;
        width: 200px;
        background-color: white;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 40px;
        border: 2px solid green;
        margin-top: 20px;
    }
    .kzie {
        height: 15500px;
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 150px;
    }
    .vjrfyi {
        height: 15500px;
        width: 100%;
        background-color: green;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 150px;
    }
    .photod1 {
        height: 850px;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        position: sticky;
        top: -500px;
    }
    .fhgj1 {
        height: 100%;
        width: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .hsxhd1 {
        height: 50%;
        width: 100%;
        background-color: white;
        display: flex;
    }
    .lsdhe1 {
        height: 100%;
        width: 30%;
        /* background: url(../Image/dfgh.jpg) 50% no-repeat;
        background-size: cover; */
      
    }
    .lompshss1 {
        height: 70%;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: end;
        justify-content: start;
        
    }
    .lqgxyz {
        background: url(../Image/dfgh.jpg) 50% no-repeat;
        background-size: cover;
        height: 90%;
        width: 90%;
        border-radius: 20px;
        border: 2px solid green;
    }
    .lompshss2 {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-top: 20px;
        background-color: white;
        
    }
    .lsdhe2 {
        height: 100%;
        width: 70%;
        background-color: white;
        
        
    }
    
    .jndad1 {
        height: 40px;
        width: 40px;
        background-color: green;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jndad2 {
        height: 40px;
        width: 40px;
        background-color: green;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jndad3 {
        height: 40px;
        width: 40px;
        background-color: green;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hsxhd2 {
        height: 50%;
        width: 100%;
        background-color: white;
        padding-top: 20px;
      
    }
    .kswuyh {
        padding-top: 100px;
        height: 800px;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    .vakcd1 {
        height: 70px;
        width: 100%;
        background-color: green;
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
    }
    .sjwk1 {
        height: 70px;
        width: 50%;
        
    }
    .sjwk2 {
        height: 70px;
        width: 50%;
       
    }
    body {
        background-color: black;
        width: 100%;
        height: 1500px;
    }

    
}





@media (max-width:1000px) {
    .fekx {
        height: 70px;
        width: 200px;
        background-color: white;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 40px;
        border: 2px solid green;
        margin-top: 20px;
    }
    .kzie {
        height: 1500px;
        width: 100%;
        background-color: green;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 150px;
    }
    .vjrfyi {
        height: 1500px;
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 150px;
    }
    .photod1 {
        height: 1200px;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        /* position: sticky;
        top: 50px; */
        padding-top: 20px;
    }
    .fhgj1 {
        height: 100%;
        width: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    
    
    body {
        background-color: black;
        width: 100%;
        height: 1500px;
    }
    .kisql {
        height: 50px;
        width: 100%;
        background-color: white;
    }
    
    .kisq2 {
        height: 250px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .kisq21 {
        height: 250px;
        width: 250px;
        background: url(../Image/dfgh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 20px;
    }
    .kisq3 {
        height: 700px;
        width: 100%;
        background-color: white;
        background-size: cover;
    }
    .kisq3 p{
        color: #000;
    }
    .kisq4 {
        height: 80px;
        width: 55%;
        background-color: white;
        background-size: cover;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 30px;
        border: 2px solid green;
    }
    
}

