
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}
input {
    outline: none;
    border: none;
    color: #000;
    background: transparent;
    
}
.infoPreso {
    margin: 0 auto;
}
.gdhz {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@media (min-width : 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(109, 53, 53);
        width: 100%;
        overflow-x: hidden;
    }
    section {
        width: 100%;
        overflow: hidden;
    }

    #tel,.jqsc1,.jyaz1,.dsdd {
        display: none;
    }
    /* Ordinateur */

    /* header */
    a {
        text-decoration: none;
        color: white;
    }
    li {
        list-style-type: none;
    }
    .nvbar {
        height: 80px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }
    .logo {
        height: 80px;
        width: 15%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sdjyqe {
        height: 80px;
        width: 40%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 80px;
        width: 50%;
        background-color: black;
        display: flex;
        
    }
    .lila {
        
        width: 62%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ches:checked ~ .qr {
        visibility: visible;
        opacity: 1;
        z-index: 5;
        position: fixed;
        
    }
    #ches {
        display: none;
    }
    .qr {
        height: 500px;
        width: 100%;
        
        border-radius: 10px;
        position: fixed;
        top: 15%;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 1%;
        visibility: hidden;
        opacity: 1;
        padding-top: 10px;
       
    }
    .indoy {
        width: 800px;
        height: 500px;
        background-color: rgb(114, 114, 114);
        box-shadow: 2px 2px 10px 0.5px rgb(38, 66, 38);

    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }


    /* footer */

    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .premi1 {
        height: 100%;
        width:50%;
        background-color: black;
        
    }
    .lsch1 {
        height: 40%;
        width:100%;
        background-color: black;
        padding-left: 40px;
    }
    .lsch2 {
        height: 10%;
        width:100%;
        background-color: black;
        display: flex;
        gap: 10px;
        padding-left: 80px;
        align-items: center;
    }
    .lsch3 {
        height: 50%;
        width:100%;
        background-color: black;
        padding-left: 80px;
        padding-top: 20px;
        padding-right: 20px;
        
    }
    
    
    .ronfsd1 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd2 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd3 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ronfsd4 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd5 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .premi2 {
        height: 103%;
        width:50%;
        background-color: black;
        

        gap: 4%;
        padding-left: 100px;
        
    }
    .premi2 h2{
        font-size: 1.2rem;
        padding-bottom: 5px;
        padding-top: 20px;
        
    }
    .premi2 p{
        font-size: 0.7rem;
        
    }
    .sjudzs1 {
        height: 200px;
        width: 80%;
        margin-top: 50px;
        margin-left: 20px;
      
    }
    .sjudzs1 input{
        height: 100%;
        width: 100%;
        text-align: left;
        background-color: rgba(56, 56, 56, 0.459);
        border: none;
    }
    .sjudzs2 {
        height: 50px;
        width: 80%;
        margin-top: 40px;
  
        padding-top: 20px;
       
    }
    .sjudzs2 button{
        border: none;
        background-color: green;
        color: white;
        padding: 10px;
        margin-left: 20px;
       
    }
    
    .jqsc {
        height: 2000px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jyaz {
        height: 85%;
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
    }
    .jyaz button{
        padding: 20px 50px;
        background-color: green;
        border: none;
        color: white;
        border-radius: 20px;
    }
    
}




@media (max-width : 1000px) {
    #ord {
        display: none;
    }
    
    .vakcd1 {
        height: 70px;
        width: 100%;
        background-color: green;
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
    }
    .sjwk1 {
        height: 70px;
        width: 50%;
        
    }
    .sjwk2 {
        height: 70px;
        width: 50%;
    
    }


    #cliquera {
        display: none;
    }
    #cliquera:checked ~ .sortira {
        visibility: visible;
        opacity: 1;
        z-index: 5;
        position: fixed;
        
        
    }
    

    .sortira {
        height: 500px;
        width: 300px;
        opacity: 1;
        z-index: 3;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top:100%;
        right: 0%;
        visibility: hidden;
        padding: 20px;
        
    }

    .sortira ul li{
    
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid white;
    }

    .fouteur {
        height: 1000px;
        width: 100%;
        background-color: black;
        overflow: hidden;
    }
    .fouteur p,h3{
        color: white;
    }
    .hdehe {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: end;
        padding-left: 40px;
        gap: 10px;
    }
    .osqxd1 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd2 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd3 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd4 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd5 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hdehe1 {
        height: 300px;
        width: 100%;
        background-color: black;
      
        padding: 40px;
    
        
    }
    .hdehe2 {
        height: 400px;
        width: 100%;
        background-color: black;
      
        padding: 40px;
    
        
    }
    .jhyuea {
        background-color: aqua;
        width: 100%;
        height: 40%;
    }
    .jqsc1 {
        height: 1700px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jyaz1 {
        height: 85%;
        width: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
    }
    .jyaz1 button{
        padding: 10px 25px;
        background-color: green;
        border: none;
        color: white;
        border-radius: 10px;
    }
} 






