*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}

@media (min-width:1000px) {
    body {
        background-color: black;
        width: 100%;
        /* height: 2000px; */
    }
    .nvbar {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }
    .logo {
        height: 100px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 100px;
        width: 700px;
        background-color: black;
        display: flex;
    }
    .lila {
        
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    header {
        padding-top: 100px;
        height: 800px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .traif {
        height: 500px;
        width: 50%;
        display: flex;
        align-items: start;
        justify-content: end;
        
    }
    .traif1 {
        color: white;
        height: 600px;
        width: 50%;
        background-color: black;
        padding: 20px;
        padding-top: 100px;
    }
    .traif1 h1{
        color: white;
    }
    .jahda {
        height: 470px;
        width: 500px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: url(./Image/istockphoto-91107037-612x612.jpg);
        transform: rotate(45deg);
        background-size: 800px;
        background-position: -140px 10px;
    }
    .cfgd {
        height: 60px;
        width: 90%;
        background-color: black;
        display: flex;
        margin-top: 20px;
    }
    .plsd1 {
        height: 50px;
        width: 50px;
        background-color: green;
        border-radius: 0% 100% 100% 100%;
        margin-top: 150px;
        
        
    }
    .cfgd1 {
        height: 200px;
        width: 100%;
        background-color: black;
        display: flex;
        
        align-items: center;
        justify-content: end;
    }
    .plsd {
        padding-right: 10px;
        padding-top: 150px;
    }
    
    .zeaee {
        height: 50px;
        width: 140px;
        background-color: rgb(13, 184, 13);
        margin-right: 10px;
        border-radius: 15px;
    }
    .zeaee1 {
        height: 50px;
        width: 140px;
        border-radius: 15px;
        border: 1px solid rgb(13, 184, 13);
    }

    #service {
        height: 1200px;
        padding-top: 100px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        
    }
    .titreService h1{
        color: black;
        height: 70px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: end;
        justify-content: center;
        font-size: 2rem;
        color: black;

        
        
    }
    #service h1{
        color: black;
        
    }
    .notreService1 {
        height: 300px;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .notreService1-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService2-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService3-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/trab.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService1-2 {
        height: 250px;
        width: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;
    }
    .notreService1-2 p,h1{
        color: black;
    }
    .notreServiceBou {
        height: 50px;
        width: 120px;
        background-color: green;
        border-radius: 10px;
    }
    #autre {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .infor2 {
        height: 500px;
        width: 70%;
        background: url(./Image/fina.jpg) 50% no-repeat;
        background-size: cover;
    }
    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        padding-top: 100px;
    }
    .forett {
        height: 200px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        border-bottom: 2px solid white;
    }
    .forett1 {
        height: 100px;
        width: 70%;
        background-color: black;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        
    }
    .forett3 {
        background: url(./Image/map.jpg) 50% no-repeat;
        background-size: cover;
        height: 300px;
        width: 70%;
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    .for1 {
        height: 150px;
        width: 25%;
        background-color: black;
        color: white;
        
    }
    .for1 h1{
        
        color: white;
        
    }
    .for2 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for3 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
    .for4 {
        height: 150px;
        width: 25%;
        background-color: black;
    }
}