*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
input {
    outline: none;
    border: none;
    color: #000;
    background: transparent;
    
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}

@media (min-width:1200px) {

    .nacv,.nacv1,.nacv2,.nacv3,.jhyuea,.nacv4,.fouteur,.sortira,.sjwk2 input,.vakcd1 {
        display: none;
    }
    .aead {
        height: 600px;
        background: url(./Image/echkba.jpg) 50% no-repeat;
        background-size: cover;
        margin-top: 100px;
    }
    .notreService16 {
        height: 600px;
        backdrop-filter: blur(20px) ;
        margin-top: 100px;
        padding-left: 50px;
        display: flex;
    }
    .femm1 {
        height: 100%;
        width: 55%;
        
    }
    .femm2 {
        height: 100%;
        width: 45%;
       
    }
    .lkswj {
        height: 400px;
        width: 500px;
        
        margin-top: 20px;
    }
    .zefeedééd {
        height: 80px;
        width: 100%;
        display: flex;
        gap: 2%;
        
    }
    .askqs {
        height: 100px;
        width: 100%;
        margin-top: 20px;
        color: green;
        
    }
    .tesqui {
        height: 100px;
        width: 100%;
        margin-top: 50px;
        color: green;
        
    }
    
    .tesqui button{
        background-color: green;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;

        
    }
    .askqs input{
        height: 100px;
        width: 100%;
        display: flex;
        background-color: rgba(85, 85, 85, 0.336);
        border: none;
        
    }
    .impd12 {
        height: 100px;
        width: 100%;
        
    }
    .impd1{
        height: 100%;
        width: 100%;
        
        
    }
    input.edz {
        width: 100%;
        height: 100%;
        padding-right: 200px;
    }
    .zefeedééd input{
        height: 50px;
        width: 100%;
        background-color: rgba(85, 85, 85, 0.336);
        border: none;
        
        
    }
    #about {
        height: 1350px;
        width: 100%;
        background-color: white;
        margin-top: 100px;
        color: white;
    }
    .mscj {
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .mscj1 {
        height: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: white;
    }
    .mscj12 {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 20px;
        background-color: white;
    }
    .yz1 {
        height: 200px;
        width: 200px;
        background-color: #000000;
    }
    .yz2 {
        height: 200px;
        width: 200px;
        background-color: rgb(201, 201, 201);    
    }
    .yz3 {
        height: 200px;
        width: 200px;
        background-color: rgb(201, 201, 201);    
    }
    .yz4 {
        height: 200px;
        width: 200px;
        background-color: rgb(201, 201, 201);   
    }
    .yz5 {
        height: 200px;
        width: 200px;
        background-color: rgb(201, 201, 201);     
    }
    
    .texmpq1 {
        height: 500px;
        width: 100%;
        background: url(./Image/fgki.jpg) 50% no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lopsfd {
        height: 100%;
        width: 60%;
        
        padding-top: 100px;
    }
    .sufxd {
        height: 100px;
        width: 100%;
        
        display: flex;
        gap: 30px;
        margin-top: 70px;
    }
    .numer1 {
        height: 100px;
        width: 20%;
     
    }
    .numer2 {
        height: 100px;
        width: 20%;
       
    }
    .numer3 {
        height: 100px;
        width: 20%;
      
    }
    .numer4 {
        height: 100px;
        width: 20%;
       
    }
    #app {
        height: 700px;
        width: 100%;
        background-color: white;
        display: flex;
        padding-top: 60px;
        gap: 3%;
    }
    .trapf1 {
        height: 100%;
        background-color: white;
        width: 50%;
        padding-left: 200px;
        padding-right: 70px;
        color: black;
        
    }
    .trapf1 h3{
        padding-top: 20px;
        color: black;
    }
    .trapf1 p{
        color: rgb(88, 88, 88);
    }
    .loxsde {
        margin-top: 40px;
        height: 40px;
        width: 100px;
        background-color: green;
        border-radius: 10px;
    }
    .trapf2 {
        height: 70%;
       
        background-color: white;
        background-size: cover;
        width: 45%;
        border-radius: 40px;
        display: flex;
        align-items: start;
        justify-content: flex-start;
       
    }
    .osgx {
        height: 70%;
       
        background: url(./Image/echkba.jpg) 50% no-repeat;
        background-size: cover;
        width: 40%;
        border-radius: 40px;
       
    }
    
    .trapf3 {
        height: 70%;
       
        background: url(./Image/reinion.jpg) 50% no-repeat;
        background-size: cover;
        width: 40%;
        border-radius: 40px;
    }
    body {
        background-color: white;
        width: 100%;
        height: auto;
        /* height: 2000px; */
    }
    .nvbar {
        height: 80px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
    }
    .logo {
        height: 80px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 80px;
        width: 700px;
        background-color: black;
        display: flex;
        
    }
    .lila {
        
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ches:checked ~ .qr {
        visibility: visible;
        opacity: 1;
        z-index: 5;
        position: fixed;
        
    }
    #ches {
        display: none;
    }
    .qr {
        height: 500px;
        width: 100%;
        
        border-radius: 10px;
        position: fixed;
        top: 15%;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 1%;
        visibility: hidden;
        opacity: 1;
        padding-top: 10px;
       
    }
    .indoy {
        width: 800px;
        height: 500px;
        background-color: rgb(114, 114, 114);
        box-shadow: 2px 2px 10px 0.5px rgb(38, 66, 38);

    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    header {
        padding-top: 100px;
        height: 800px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .traif {
        height: 800px;
        width: 50%;
        display: flex;
        align-items: start;
        justify-content: start;
        background: url(./Image/rykhbn.jpg) 50% no-repeat;
        background-size: cover;
        z-index: 3;
        transform: translateY(-100px);
        
    }
    .jahda {
        height: 100px;
        width: 300px;
        
        
    }
    .traif1 {
        color: white;
        height: 600px;
        width: 50%;
        /* background-color: black; */
        padding: 50px;
        padding-top: 100px;
        /* background-color: blue; */
       
    }
    .traif1 h1{
        color: white;
    }
    
    .cfgd {
        height: 60px;
        width: 90%;
        /* background-color: black; */

        display: flex;
        margin-top: 20px;
    }
    .plsd1 {
        height: 50px;
        width: 50px;
        background-color: green;
        border-radius: 0% 100% 100% 100%;
        margin-top: 150px;
        position: fixed;
        right: 5%;
        bottom: 2%;
        z-index: 3;
    }
    .cfgd1 {
        height: 200px;
        width: 100%;
        /* background-color: black; */
        display: flex;
        
        align-items: center;
        justify-content: end;
    }
    .plsd {
        padding-right: 10px;
        padding-top: 150px;
        position: fixed;
        right: 10%;
        bottom: 4%;
        z-index: 3;
        
    }
    
    .zeaee {
        height: 50px;
        width: 140px;
        background-color: rgb(13, 184, 13);
        margin-right: 10px;
        border-radius: 15px;
    }
    .zeaee1 {
        height: 50px;
        width: 140px;
        border-radius: 15px;
        border: 1px solid rgb(13, 184, 13);
    }

    #service {
        height: 2000px;
        padding-top: 100px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        
    }
    .titreService h1{
        color: black;
        height: 70px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: end;
        justify-content: center;
        font-size: 2rem;
        color: black;

        
        
    }
    #service h1{
        color: black;
        
    }
  
    .notreService1 {
        height: 300px;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .notreService1-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .notreService2-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .notreService3-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/transac.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .notreService1-2 {
        height: 250px;
        width: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;
    }
    .notreService1-2 p,h1{
        color: black;
    }
    .notreServiceBou {
        height: 50px;
        width: 120px;
        background-color: green;
        border-radius: 10px;
    }
    #autre {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .infor2 {
        height: 500px;
        width: 70%;
        background: url(./Image/fina.jpg) 50% no-repeat;
        background-size: cover;
    }
    #fooetr {
        height: 700px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .premi1 {
        height: 100%;
        width:50%;
        background-color: black;
        
    }
    .lsch1 {
        height: 40%;
        width:100%;
        background-color: black;
        padding-left: 40px;
    }
    .lsch2 {
        height: 10%;
        width:100%;
        background-color: black;
        display: flex;
        gap: 10px;
        padding-left: 80px;
        align-items: center;
    }
    .lsch3 {
        height: 50%;
        width:100%;
        background-color: black;
        padding-left: 80px;
        padding-top: 20px;
        padding-right: 20px;
        
    }
    
    
    .ronfsd1 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd2 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd3 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ronfsd4 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ronfsd5 {
        height: 40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .premi2 {
        height: 100%;
        width:50%;
        background-color: black;
        

        gap: 4%;
        padding-left: 100px;
        
    }
    .premi2 h2{
        font-size: 1.2rem;
        padding-bottom: 5px;
        padding-top: 20px;
        
    }
    .premi2 p{
        font-size: 0.7rem;
        
    }
    .sjudzs1 {
        height: 200px;
        width: 80%;
        margin-top: 50px;
        margin-left: 20px;
      
    }
    .sjudzs1 input{
        height: 100%;
        width: 100%;
        text-align: left;
        background-color: rgba(56, 56, 56, 0.459);
        border: none;
    }
    .sjudzs2 {
        height: 50px;
        width: 80%;
        margin-top: 40px;
  
        padding-top: 20px;
       
    }
    .sjudzs2 button{
        border: none;
        background-color: green;
        color: white;
        padding: 10px;
        margin-left: 20px;
       
    }
    
    
    
}







@media (max-width:1200px) {
    #fooetr {
        display: none;
    }
    #about {
        display: none;
    }
    #app {
        display: none;
    }
    #Collaboration {
        display: none;
    }
    .vakcd1 {
        height: 70px;
        width: 100%;
        background-color: green;
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
    }
    .sjwk1 {
        height: 70px;
        width: 50%;
        
    }
    .sjwk2 {
        height: 70px;
        width: 50%;
       
    }

    /* #ches:checked ~ .qr {
        visibility: visible;
        opacity: 1;
        z-index: 5;
        position: fixed;
        
    }
    #ches {
        display: none;
    }
    .qr {
        height: 500px;
        width: 100%;
        
        border-radius: 10px;
        position: fixed;
        top: 15%;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 1%;
        visibility: hidden;
        opacity: 1;
        padding-top: 10px;
       
    } */
    #cliquera {
        display: none;
    }
    #cliquera:checked ~ .sortira {
        visibility: visible;
        opacity: 1;
        z-index: 5;
        position: fixed;
        
        
    }
    

    .sortira {
        height: 500px;
        width: 300px;
        opacity: 1;
        z-index: 3;
        background-color: rgb(0, 0, 0);
        position: fixed;
        top:100%;
        right: 0%;
        visibility: hidden;
        padding: 20px;
        
    }

    .sortira ul li{
    
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid white;
    }
    body {
        background-color: black;
        width: 100%;
        /* height: 2000px; */
        
    }
    .nvbar {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        display: none;
    }
    .logo {
        height: 100px;
        width: 300px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo1-1 {
        height: 80%;
        width: 70%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo1 {
        height: 100px;
        width: 700px;
        background-color: black;
        display: flex;
    }
    .lila {
        
        width: 500px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 10px;
    }
    .lila nav ul{
        display: flex;
        height: 100%;
    }
    .lila nav ul a{
        padding: 10px 20px;
        background-color: black;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila nav ul a:hover{
        padding: 10px 20px;
        text-decoration: overline rgb(30, 148, 0);

        margin-left: 5px;
        font-size: 0.8rem;
    }
    .lila1 {
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lila1 a{
        width: 200px;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .los {
        height: 60%;
        width: 80%;
        background-color: rgb(30, 148, 0);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    header {
        padding-top: 100px;
        height: 800px;
        width: 100%;
        background-color: black;
        display: none;
    }
    .traif {
        height: 500px;
        width: 50%;
        display: none;
        align-items: start;
        justify-content: end;
        
    }
    .traif1 {
        color: white;
        height: 600px;
        width: 50%;
        /* background-color: black; */
        padding: 20px;
        padding-top: 100px;
        display: none;
    }
    .traif1 h1{
        color: white;
    }
    .jahda {
        display: none;
        height: 470px;
        width: 500px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: url(./Image/rykhbn.jpg);
        transform: rotate(45deg);
        background-size: 800px;
        background-position: -140px 10px;
    }
    .cfgd {
        height: 60px;
        width: 90%;
        background-color: black;
        display: flex;
        margin-top: 20px;
    }
    .plsd1 {
        height: 50px;
        width: 50px;
        background-color: green;
        border-radius: 0% 100% 100% 100%;
        margin-top: 150px;
        
        
    }
    .cfgd1 {
        height: 200px;
        width: 100%;
        /* background-color: black; */
        display: flex;
        
        align-items: center;
        justify-content: end;
    }
    .plsd {
        padding-right: 10px;
        padding-top: 150px;
    }
    
    .zeaee {
        height: 50px;
        width: 140px;
        background-color: rgb(13, 184, 13);
        margin-right: 10px;
        border-radius: 15px;
    }
    .zeaee1 {
        height: 50px;
        width: 140px;
        border-radius: 15px;
        border: 1px solid rgb(13, 184, 13);
    }

    #service {
        height: 1200px;
        padding-top: 100px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: none;
        
    }
    .titreService h1{
        color: black;
        height: 70px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: end;
        justify-content: center;
        font-size: 2rem;
        color: black;

        
        
    }
    #service h1{
        color: black;
        
    }
    .notreService1 {
        height: 300px;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .notreService1-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService2-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService3-1 {
        height: 250px;
        width: 400px;
        background: url(./Image/trab.jpg) 50% no-repeat;
        background-size: cover;
    }
    .notreService1-2 {
        height: 250px;
        width: 400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;
    }
    .notreService1-2 p,h1{
        color: black;
    }
    .notreServiceBou {
        height: 50px;
        width: 120px;
        background-color: green;
        border-radius: 10px;
    }
    #autre {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .infor2 {
        height: 500px;
        width: 70%;
        background: url(./Image/fina.jpg) 50% no-repeat;
        background-size: cover;
    }
    
    .nacv {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: rgb(18, 175, 12);
        color: black;
        z-index: 2;
    }
    
    .nacv1 {
        height: 600px;
        width: 100%;
        /* background: url(./Image/rykhbn.jpg) 50% no-repeat;
        background-size: cover; */
        background-color: rgb(95, 153, 95);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;
        overflow: hidden;
    }
    .hehdz {
        height: 100%;
        width: 100%;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 30px;
        color: rgb(255, 255, 255);
        background-color: green;
        /* display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; */
    }
    .nacv1 h3{
        color: rgb(255, 255, 255);
    }
    .nacv1 p{
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
    }
    .zucze {
        height: 50px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        margin: 0 auto;
       
    }
    .nacv2 {
        height: 1800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        background-color: rgb(255, 255, 255);
        
    }

    .qilq {
        border-radius: 10px;
        height: 250px;
        width: 80%;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
      
    }
    .qilq1 {
        height: 300px;
        width: 80%;
        background-color:white;
        margin-bottom: 20px;
        
    }
    .qilq2 {
        
        background: url(./Image/af.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 250px;
        width: 80%;
    }
    .errze {
        height: 40px;
        width: 100px;
        background-color: green;
        border-radius: 10px;
        margin-top: 20px;
       
    }
    .qilq22 {
        height: 300px;
        width: 80%;
        background-color:white;
        margin-bottom: 20px;
    }
    .qilq3 {
        border-radius: 10px;
        height: 250px;
        width: 80%;
        background: url(./Image/transac.jpg) 50% no-repeat;
        background-size: cover;
        
    }
    .qilq33 {
        height: 300px;
        width: 80%;
        background-color:white;
        margin-bottom: 20px;
    }
    .cardc {
        height: 400px;
        width: 70%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        color: black;
        text-align: center;
        margin-bottom: 30px;

    }
    .ljqs {
        height: 40%;
        width: 100%;
        background: url(./Image/insta.jpg) 50% no-repeat;
        background-size: cover;
    }
    .ljqs1 p{
       margin-bottom: 30px;
       color: black;
       padding-left: 20px;
       padding-right: 20px;
       
      
    }
    .ljqs1 a{
       padding: 10px 30px;
       background-color: rgb(73, 175, 5);
       border-radius: 10px;
       
      
    }
    
    .nacv3 {
        height: 300px;
        width: 100%;
        background-color: black;
    }
    .lo {
        height: 100%;
        width: 150px;
        
    }
    .lo1 {
        height: 100%;
        width: 100px;
    }
    .jjuez {
        height: 200px;
        width: 150px;
        background-color: white;
        position: fixed;
        top: 50px;
        
        opacity: 1;
       
        right: 0;
    }
    #navdf:checked ~ .jjuez{
        visibility: visible;
        opacity: 1;

    }

    




    
    /* #ches {
        display: none;
    }
    #ches:checked ~ .qr {
        visibility: visible;
        opacity: 1;
    }
    .qr {
        height: 200px;
        width: 150px;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        right: 8%;
        top: 70px;
        visibility: hidden;
        opacity: 1;
        padding-top: 10px;
    } */


    

    #fooetr {
        height: 1000px;
        width: 100%;
        background-color: black;
        
    }

    .premi2 {
        height: 100%;
        width:100%;
        background-color: black;
        display: flex;
        gap: 4%;
        padding-left: 100px;
        
    }
    
    .premi1 {
        height: 100%;
        width:100%;
        background-color: brown;
        
    }

    .nacv3 {
        height: 850px;
        width: 100%;
        background: url(./Image/reinion.jpg) 50% no-repeat;
        background-size: cover;

        
    }
    .vsfdt {
        height: 850px;
        width: 100%;
        backdrop-filter: blur(40px);
        
        padding: 30px;
        
    }
    
    .nacv3 h3 {
        font-size: 0.8rem;
        padding-top: 20px;
        padding-bottom: 5px;
        
    }
    .nacv4 {
        height: 1200px;
        width: 100%;
        background-color: white;
    }
    .lsgx1 {
        height: 75%;
        width: 100%;
        background-color: rgb(247, 54, 54);
    }
    .xtsz1 {
        height: 20%;
        width: 100%;
        background: url(./Image/reinion.jpg) 50% no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .zdczs {
        height: 80%;
        width: 80%;
        overflow: hidden;
    }
    .xtsz2 {
        height: 80%;
        width: 100%;
        background-color: white;
        display: flex;
       
        justify-content: center;
    }
    .locscd {
        height: 90%;
        width: 80%;
        background-color: white;
        overflow: hidden;
        padding-top: 20px;
    }
    .lsgx2 {
        height: 25%;
        width: 100%;
        background-color: white;
    }
    .bsjyd {
        height: 120px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 20px;

    }
    .jswiq1 {
        height: 100px;
        width: 100px;
        background-color: grey;
    }
    .jswiq2 {
        height: 100px;
        width: 100px;
        background-color: grey;
    }
    .jswiq3 {
        height: 100px;
        width: 100px;
        background-color: grey;
    }
    .jswiq4 {
        height: 100px;
        width: 100px;
        background-color: grey;
    }
    .fouteur {
        height: 1000px;
        width: 100%;
        background-color: black;
    }
    .hdehe {
        height: 100px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: end;
        padding-left: 40px;
        gap: 10px;
    }
    .osqxd1 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd2 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd3 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd4 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .osqxd5 {
        height: 40px;
        width: 40px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hdehe1 {
        height: 300px;
        width: 100%;
        background-color: black;
      
        padding: 40px;
    
        
    }
    .hdehe2 {
        height: 400px;
        width: 100%;
        background-color: black;
      
        padding: 40px;
    
        
    }
    .jhyuea {
        background-color: aqua;
        width: 100%;
        height: 40%;
    }
}